/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* reset codes and common codes */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header{
  height: 100vh;
  background: linear-gradient(to bottom, #FFDAD6, #FFE6E4, #FCEEED);
}

#featured-products, #latest-products, #exclusive-product{
  margin: 60px 0;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
}

.flex-view{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.w-50{
  width: 50%;
}

.section-title{
  margin: 50px auto;
}

.section-title h2{
  text-align: center;
  color: #565457;
}

.title-hr{
  max-width: 120px;
  border: 3px solid #ff4004;
  border-radius: 10px;
  margin: 5px auto;
}

/* navigation bar designing - index.html, products.html, about.html, contact.html, account.html, cart.html */
#navigation-bar{
  padding: 20px;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  cursor: pointer;
  width: 170px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.nav-links a{
  color: #867470;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.nav-links i{
  font-size: 20px;
}

/* home section design - index.html */
#home-section{
  padding: 50px 0;
}

.home h1{
  font-size: 45px;
  line-height: 55px;
}

.home p{
  color: #867470;
  margin: 15px 0;
}

.home img{
  width: 100%;
}

.btn{
  border: 0;
  background-color: #ff4004;
  color: #fff;
  padding: 5px 25px;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color .2s linear;
}

.btn svg{
  width: 25px;
  margin: 0 5px;
}

.btn:hover{
  background-color: #4D2E2C;
}

/* categories section - index.html */
.categories{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 1000px;
}

.categories img{
  margin: 50px auto;
  width: 90%;
  display: block;
}

/* featured products & latest products - index.html */
.products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product{
  margin: 15px;
  transition: transform .2s linear;
}

.product img{
  width: 100%;
}

.product p{
  font-size: 15px;
  font-weight: 400;
}

.product .rating i{
  color: #ff4004;
}

.product:hover{
  transform: translateY(-7px);
}

/* exclusive product - index.html */
#exclusive-product{
  background: linear-gradient(to bottom, #FFDAD6, #FFE6E4, #FCEEED);
  padding: 45px 0;
}

.exclusive img{
  width: 70%;
  display: block;
  margin: auto;
}

.exclusive p{
  margin: 10px 0;
  color: #565457;
}

.exclusive h1{
  font-size: 50px;
}