/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* reset codes and common codes */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#main-header{
  height: 100vh;
  background: linear-gradient(to bottom, #FFDAD6, #FFE6E4, #FCEEED);
}

#featured-products, #latest-products, #exclusive-product, #testimonials-section, #companies-section{
  margin: 60px 0;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
}

.flex-view{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.w-50{
  width: 50%;
}

.section-title{
  margin: 50px auto;
}

.section-title h2{
  text-align: center;
  color: #565457;
}

.title-hr{
  max-width: 120px;
  border: 3px solid #ff4004;
  border-radius: 10px;
  margin: 5px auto;
}

/* navigation bar designing - index.html, products.html, about.html, contact.html, account.html, cart.html */
#navigation-bar{
  padding: 20px;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  cursor: pointer;
  width: 170px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.nav-links a{
  color: #867470;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.nav-links img{
  width: 30px;
  filter: grayscale(100%);
}

/* home section design - index.html */
#home-section{
  padding: 50px 0;
}

.home h1{
  font-size: 45px;
  line-height: 55px;
}

.home p{
  color: #867470;
  margin: 15px 0;
}

.home img{
  width: 100%;
}

.btn{
  border: 0;
  background-color: #ff4004;
  color: #fff;
  padding: 5px 25px;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color .2s linear;
}

.btn svg{
  width: 25px;
  margin: 0 5px;
}

.btn:hover{
  background-color: #4D2E2C;
}

/* categories section - index.html */
.categories{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 1000px;
}

.categories img{
  margin: 50px auto;
  width: 90%;
  display: block;
}

/* featured products & latest products - index.html */
.products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product{
  margin: 15px;
  transition: transform .2s linear;
}

.product img{
  width: 100%;
}

.product p{
  font-size: 15px;
  font-weight: 400;
}

.product .rating i{
  color: #ff4004;
}

.product:hover{
  transform: translateY(-7px);
}

/* exclusive product - index.html */
#exclusive-product{
  background: linear-gradient(to bottom, #FFDAD6, #FFE6E4, #FCEEED);
  padding: 45px 0;
}

.exclusive img{
  width: 70%;
  display: block;
  margin: auto;
}

.exclusive p{
  margin: 10px 0;
  color: #565457;
}

.exclusive h1{
  font-size: 50px;
}

/* testimonials section - index.html */
.testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.testimonial{
  margin: 0 20px;
  padding: 15px 10px;
  box-shadow: 5px 5px 15px #808080;
  text-align: center;
  transition: transform .2s linear;
  cursor: pointer;
}

.testimonial i{
  color: #ff4004;
}

.testimonial p{
  color: #808080;
  text-align: center;
  font-size: 15px;
  margin: 10px 0;
}

.testimonial img{
  border-radius: 50%;
  margin: 10px 0;
  width: 25%;
}

.testimonial h3{
  color: #565457;
}

.testimonial:hover{
  transform: translateY(-10px);
}

/* companies section - index.html */
.companies{
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 100px 60px;
}

.companies img{
  filter: grayscale(100%);
  transition: filter .1s linear;
  cursor: pointer;
}

.companies img:hover{
  filter: grayscale(0%);
}

/* all products - products.html */
#all-products{
  margin: 100px 0;
}

.products-container{
  max-width: 1100px;
  margin: 0 auto;
}

.products-page-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.products-page-header h2{
  color: #010001;
}

.products-page-header select{
  border: 1px solid #F45D38;
  border-radius: 2px;
  font-size: 15px;
  padding: 5px;
}

.pagination{
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

.pagination button{
  font-size: 18px;
  height: 45px;
  width: 45px;
  margin: 0 7px;
  border: 1px solid #F45D38;
  color: #010001;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination button svg{
  width: 20px;
  height: 20px;
}

.pagination button:hover{
  background: #F45D38;
  color: #fff;
}

/* footer design - index.html, products.html, about.html, contact.html, account.html and cart.html */
#footer-section{
  background-color: #010001;
}

.footer{
  padding: 30px 0;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.row h4{
  color: #fff;
  font-size: 18px;
}

.row p{
  color: #808080;
  font-size: 15px;
}

.col-1, .col-2, .col-3, .col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.col-1{
  flex-basis: 30%;
}

.col-2{
  flex: 1;
  text-align: center;
}

.col-1 p{
  margin: 25px 0 5px 0;
}

.col-1 img{
  width: 170px;
  margin: 10px 0;
}

.col-2 img{
  width: 180px;
  margin-bottom: 15px;
}

.col-3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.links{
  text-align: center;
  padding: 0 60px;
}

.links h4{
  margin: 10px 0;
}

.links ul{
  list-style-type: none;
}

.links li{
  color: #808080;
  cursor: pointer;
}

.copyright{
  color: #808080;
  text-align: center;
  font-size: 18px;
}